<h1><%= @customer.name %></h1>
<h3>Your reservations</h3>

<table>
<% @customer.current_reservations.each do |reservation| %>
  <li>
    <%= reservation.people %> people,
     at <%= reservation.restaurant.name %>, on
    <%= reservation.time_formated %>
  </li>
<% end %>
</table>

<h4> Your reviews </h4>
<table>
	<% @customer.customer_reviews.each do |review| %>
  <li>
  	For <%=review.restaurant.name %> your review is:
    <%=review.comment %>
  </li>
<% end %>
</table>