<h1><%= @restaurant.name %></h1>

<%= form_for @reservation do |f| %>
<div class="field">
	<%= f.label :people %><br>
	<%= f.text_field :people %>
</div>
<div class="field">
	<%= f.label :time%><br>
	<%= f.datetime_select :time, :minute_step => 60 %>
</div>
<%= f.hidden_field :restaurant_id, :value => @restaurant.id %>
<div class="Actions"><%= submit_tag "Reserve" %></div>
<% end %>

<ul>
	<% @restaurant.reservations do |r| %>
	<li>Reservations is at <%= r.time %></li>
	<% end %>
</ul>


The current number of reservations is <%= @restaurant.capacity %>


